div.recipe
	h1= title
	p.subtitle Author #{author}
	p= desc
	p time: #{time}
	p serves #{serves}
	.ingredients
		h2 ingredients
		ul
			each i in ingredients
				li= i
	.directions
		h2 directions
		ol
			each d in directions
				li=d


